mixin folder(name, href)
	.col-sm-2
		div(block="folder")
			a.iframe(href="//"+href)&attributes(attributes)
				div(elem="icon")
				div(elem="name")=name

extends _layout
block content
	.container
		h1 Проекты
		.row
			-var mg = 'verstka.dev.magwai.ru/'
			+folder('Огородников', 				mg+'ogorodnikov_full')
			+folder('Дубовский ДОЗ', 			mg+'doz')
			+folder('Системы управления', 		mg+'systemuprav')
			+folder('Оберег', 					mg+'obereg')
			+folder('Сфера', 					mg+'sphere')
			+folder('ТехноБелка', 				mg+'techno-belka')
			+folder('Гермес', 					mg+'germes')
			+folder('Авиценна', 				mg+'medvolgnew')
			+folder('Bumza', 					mg+'bumza-adapt')
			+folder('За Кпрф', 					'zakprf.ru')
			+folder('Связь Холдинг', 			mg+'svyaz-holding')
			+folder('Связь Холдинг - лэндинг', 	mg+'svyaz-landing')
			+folder('Лэндинг детский садик', 	mg+'kinder-landing')
			+folder('Self', 					mg+'self')